@import "tailwindcss";

@utility animate-zoom-in{
  animation: zoomIn 0.85s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes zoomIn{
  from{
    opacity:0;
    transform: scale(0.92);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}


@theme{
  --color-sidebar-bg: rgb(114 131 191/ 0.1);
  --color-button-color:#0339F8;
  --color-ButtonTermine: #5AE85A;
  --color-Termine:#1ABB58;
  
  --color-ButtonEncours: #1123EB;
  --color-Encours:#0013E5;

  --color-ButtonAnnule: #FF0000;
  --color-Annule:#FF0000;

  --color-ButtonLivre: #800080;
  --color-Livre:#800080;

  --color-ButtonEnattente: #FFA500;
  --color-Enattente:#FFA500;

  --color-ButtonGris:#808080;
  --color-Gris:#808080;

  --color-BlueDark:#00008B;
}
